.card {
  width: 100px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.card.selected {
  background: #04169c;
}

.card.visible {
  color: #000000;
  background: #ffdc24;
}
